#article-content {
    width: 65%;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
    background: #fff;
}

.article-image img {
    width: 100%;
}
